.jumbotron {
    background-color: #fd7e14;
    margin-bottom: 0;
}

.jumbotron h1, .jumbotron p {
    color: #FFF;
}

.jumbotron h1 {
    font-weight: 600;
}

/* For Small devices (phones, 576px) */
@media screen and (max-width: 576px) {
    .jumbotron h1 {
        font-size: 2.25rem;
    }

    .jumbotron p {
        font-size: 0.9375rem;
    }
}
